.item-list {
    margin: 24px 0;
}

.list-title {
    font-size: 32px;
    color: #FFF;
    margin: 12px 0;
    text-align: center;
}

.item {
    height: 100px;
    animation: slideLeft 0.5s ease forwards;
}

.item strong {
    color: #539BF5;
    font-size: 24px;
}

.item p {
    color: #999;
    font-size: 16px;
}

@keyframes slideLeft {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }