.conteudo {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #FFFFFF
}

.loading-text {
    text-align: center;
    font-size: 32px;
    margin-top: 50px;
    cursor: wait;
  }