.conteudo {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 100vh;
    position: absolute;
    left: 0;
}

.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #FFFFFF
}

input {
    color: #ffffff;
    border-radius: 22px;
    min-width: 250px;
    width: 60%;
    margin: 10px;
    border: 1px solid #999;
    background: transparent;
    font-size: 18px;
    padding: 10px;
}

button {
    border-radius: 22px;
    border: 1px solid #999;
    background: #2D333B;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

.perfil {
    display: flex;
    margin: 10px;

}

.profile {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #E5E5E5;
    margin-right: 12px;
}

.perfil h3 {
    color: #999999;
    font-size: 36px;

}

.perfil span {
    display: block;
    color: #999999;
    font-size: 24px;
}

.perfil p {
    display: block;
    color: #999999;
    font-size: 24px;
    margin-top: 10px;
}

.repositorio {
    font-size: 32px;
    color: #FFF;
    margin: 12px 0;
    text-align: center;
}
